body {
  font-family: "Noto Sans", "Noto Sans CJK JP", sans-serif;
}

header {
  padding: 3%;
  /* margin: 0 auto; */
}

nav {
  display: inline-block;
  width: 100%;
  justify-content: left;
  align-items: center;
}

nav a {
  padding: 2%;
}

.rounded {
  border-radius: 50%;
  width: 15%;
}

main {
  max-width: 60%;
  margin: 0 auto;
  height: 100%;
}

footer {
  width: 100%;
  text-align: center;
}